<h2><%= @user.name %>のマイページ</h2>

<a href="my/emerges">自分のemergeを見る</a>

<h3>使い方</h3>
<ol>
  <li><a href="download/gentwoo.py">クライアントスクリプト</a>をダウンロードします。</li>
  <li><a href="download/gentwoo.conf">クライアントスクリプト設定ファイル</a>をダウンロードし、/etc/gentwoo.confにおきます。</li>
  <li>クライアントスクリプトの実行に必要なものをemergeします。
    <ul>
      <li>simplejson</li>
    </ul>
  </li>
  <li>クライアント設定ファイルに<a href="my/key">token</a>を設定してください。</li>
  <li>クライアントを設定します。
    <ul>
      <li>USER: Twitter のログインIDです</li>
      <li>TOKEN: 上にあるtokenを設定します。</li>
      <li>UPLOAD_LOG: emergeの簡単なログをアップロードするかどうかです。(True または False)</li>
      <li>UPLOAG_ERROR_LOG: emergeがエラーになった時に完全なエラーログをアップロードするかどうかです。(True または False)</li>
      <li>CLEAN_LOG: emergeの簡単なログを削除するかどうかです。(True または False)</li>
    </ul>
  </li>
  <li>スクリプトが起動されるようにPortage(/etc/make.conf)を設定します。 たとえばこのようにします。
    <ul>
      <li>PORTAGE_ELOG_CLASSES="log warn error qa"</li>
      <li>PORTAGE_ELOG_SYSTEM="custom:* echo mail"</li>
      <li>PORTAGE_ELOG_COMMAND="/home/naota/bin/gentwoo.py '${PACKAGE}' '${LOGFILE}'"</li>
    </ul>
    とりあえず customに errorがいけば大丈夫…なはず。
  </li>
  <li>あとはコンパイルするだけ!!</li>
  <li>Just do it!</li>
</ol>
