<%= form_for @user, {:url => "/my/savesettings"} do |f| %>
<div class="field">
  emergeした時につぶやく: <%= f.check_box :tweet_emerged %><br />
  コメントした時につぶやく: <%= f.check_box :tweet_comment %><br />
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
