<!DOCTYPE html>
<html>
<head>
  <title>GenTwoo: Social Compiling</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<hr>
<div>
  作った人: <a href="http://twitter.com/naota344">@naota344</a>
</div>
</body>
</html>
