<div style="text-align:right">
<%- if prevpage -%>
<%= link_to t(:tonewpage), url_for(:page => prevpage)%>
<%- end -%>
<%- if nextpage -%>
<%= link_to t(:tooldpage), url_for(:page => nextpage)%>
<%- end -%>
</div>

