<h1>emerge log</h1>

<% @emerges.reverse_each do |emerge| %>
  <div>
  <%= emerge.buildtime.to_s(:jp) %>に<%= emerge.user.login %>さんが<%= emerge.package.fullname %>をemergeしました。(所用時間: <%= viewDuration(emerge.duration) %>)
  </div>
<% end %>
