<h2><%= @user.name %>の最近のemerge</h2>
<script>
  $(function() {
    $(".detail").colorbox({width: "75%", height: "75%", iframe: true});
  });
</script>

<%= render(:partial => "emerges",
           :object => @emerges,
           :locals => {:needuser => false}) %>
